@import url('Style.css');
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(-90deg,white,rgba(0,0,0,0.2));
    font-family:'Times New Roman', Times, serif;
}
.box {
    background-color: white;
    box-shadow: 0px 0px 5px 5px black;
    border-radius: 15px 15px;
    height: 600px;
    margin-top: 20px;
}
h2 {
    text-align:center;
    color:white;
    font-weight:bold;
    font-size:3vw;
}
.Heading {
    font-size:20px;
    font-weight:bold;
}
.sidebar {
    z-index:1;
    width:13rem;
    background-color: #4e73df;

}
.toggleSidebar {
    display: none;
    width: 0;
    transition: all 3s;
}
.top-head{
    text-transform:capitalize;
}
li a{
    color: lightgoldenrodyellow;
    text-decoration:none!important;
}
li a:hover {
    transition:0.1s ease;
    font-weight:bold;
    color: white!important;
}

.pagebox a {
    background-color:white;
    color:black;
    font-weight:bold;
    padding:10px;
    border:1px solid;
}

.Divider {
    background-color: white;
}
.Linkbtn {
    color: white;
}
tr,td {
    text-align:center;
    padding-top:10px;
}
th,tr,td {
    border:2px solid;
    font-size:18px;
}

.TableBox  {
    box-shadow: 0px 5px 10px 5px gray;
}
.sidebar .nav-item .nav-link span.admin{
    font-size:30px;
    font-weight:bolder;
}
.sidebar .nav-item .nav-link span
{
    font-size:20px;
}
.form-box {
    background-color: white;
    box-shadow: 0px 0px 15px 0px gray;
    width: 100%;
    height: auto;
}

.searchbox{
    display:inline-block;
    border:1px solid;
    width: 250px;
    height: 40px;
    border-radius: 6px;
    justify-content:center;
}
.search-box{
    text-align:right;
}
.search-btn {
    height: 40px;
}
.Header {
    font-size: 45px;
    font-family: Georgia;
    font-weight: bold;
}
.submit {
   z-index:1;
}
thead {
    font-size:15px
}
.pagebox a:hover {
    background-color: #4e73df;
    color: white;
    transition: ease 0.5s;
}
.table
{
    float:left;
    background-color:white;
}
.username, .password {
    height:50px;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10rem;
}
.btn-submit {
    text-align: center!important;
    max-width: 80%;
    border-radius: 10rem;
    font-size: 25px;
}
.btn-google, .btn-facebook {
    max-width: 80%;
    font-size: 20px;
    border-radius: 10rem;
    text-align: center;
}
.toggle-icon{
    position:absolute;
    z-index:2;
    color:gray;
}
.closeSidebar{
    position:absolute;
    top:0;
    left:10.6rem;
    z-index:2;
    background-color:gray;
    color:black;
}


