@import url('Style.css');
body {
    padding: 0;
    margin: 0;
    background-color: rgba(0,0,0,0);
}
.box {
    background-color: white;
    box-shadow: 0px 0px 5px 5px black;
    border-radius: 15px 15px;
    height: 600px;
    margin-top: 20px;
}
h2 {
    text-align:center;
    color:white;
    font-weight:bold;
    font-size:3vw;
}
.detail td:nth-child(odd){
    color:red;  
}
.sidebar {
    background-color: #4e73df;
}
li.a{
    color:white;
}
.Linkbtn {
    color: white;
}
th,tr,td {
    text-align:center;
    padding-top:10px;
}
a {
    color:white;
}

.form-box {
    background-color:lightblue;
    box-shadow:0px 0px 15px 0px gray;
}
.col-lg-10 {
    background-color:rgba(0,0,0,0.09);
}
.searchbox {
    position: absolute;
    right: 0;
    margin-right:120px;
    width: 250px;
    height: 40px;
    border-radius: 6px;
}
.Header {
    font-size:45px;
    font-family:Georgia;
    font-weight:bold;
}
.sbtn {
    position: absolute;
    right: 0;
    margin-right: 15px;
    margin-top: 2px;
}
.btn-danger {
    width:100%;
    height:40px;
}
.Admin {
    font-size:30px;
    color:white;
}
