@import url('Style.css');
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(-90deg,white,rgba(0,0,0,0.2))
}
.box {
    background-color: white;
    box-shadow: 0px 0px 5px 5px black;
    border-radius: 15px 15px;
    height: 600px;
    margin-top: 20px;
}
h2 {
    text-align:center;
    color:white;
    font-weight:bold;
    font-size:3vw;
}
.detail td:nth-child(odd){
    color:red;  
}
.sidebar {
    background-color: #4e73df;
    padding:0;
}
li a{
    color: lightgoldenrodyellow;
    text-decoration:none!important;
}
li a:hover {
    transition:0.1s ease;
    font-weight:bold;
    color: white!important;
}
.pagebox a {
    color:black;
    font-weight:bold;
    padding:10px;
    border:1px solid;

}
.Divider {
    background-color:white;
}
.Linkbtn {
    color: white;
}
th,tr,td {
    text-align:center;
    padding-top:10px;
    border:1px solid gray;
}

.TableBox  {
    box-shadow: 0px 5px 10px 5px gray;
}
.Admin {
    font-size:30px;
}

.form-box {
    background-color: lightblue;
    box-shadow: 0px 0px 15px 0px gray;
    position: absolute;
    width: 100%;
    left: 0 !important;
}

.searchbox{
    position: absolute;
    right: 0;
    margin-right:120px;
    width: 250px;
    height: 40px;
    border-radius: 6px;
}
.search-btn {
    position: absolute;
    right: 0;
    height: 40px;
    margin-right: 40px;
    margin-top: 48px;
}
.Header {
    font-size: 45px;
    font-family: Georgia;
    font-weight: bold;
}
.submit {
   z-index:1;
}


